<div class="row">
  <div class="span4">
    <h2>Frentes</h2>  
  </div>
  <div class="span2">
    <br>
    <%= link_to raw('Nuevo <i class="icon-plus icon-white"></i>'), new_frente_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>
<br>
<div class="row">
<table class="table table-bordered table-condensed table-striped span6">
  <tr>
    <th>#id</th>
    <th>Nombre</th>    
    <th>Creado</th>
    <th>Acciones</th>
  </tr>

<% @frentes.each do |frente| %>
  <tr>
    <td><%= frente.id %></td>
    <td><%= frente.nombre %></td>    
    <td><%= frente.created_at %></td>
    <td>
      <%= link_to raw('<i class="icon-eye-open icon-white"></i>'), frente, :class => "btn btn-small btn-info" %>
      <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_frente_path(frente), :class => "btn btn-small btn-success" %>
      <%= link_to raw('<i class="icon-trash icon-white"></i>'), frente, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
    </td>
  </tr>
<% end %>
</table>
</div>
<div class="clearfix"></div>