<div class="row">
    <div class="span5">
        <h2>Valorizaciones</h2>   
    </div>
    <div class="span5">
        <br>        
        <%= link_to raw("<i class='icon-plus icon-white'></i> Nuevo"), '/valorizaciones/valorizacion_uno', :class => 'btn btn-primary pull-right' %>
    </div>
</div>
<br>

<div class="row">
<table class="table table-striped table-bordered table-condensed span10">
  <tr>
    <th>Subcontratista</th>
    <th>N°</th>
    <th>Val. Actual</th>
    <th>Neto a Pagar</th>
    <th style="text-align:center;">Fecha</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>
<% @valorizaciones.each do |valorizacione| %>
  <tr>    
    <td><%= valorizacione.subcontratista_nombre %></td>
    <td><%= valorizacione.valorizacione_contador %></td>
    <td style="text-align:right;"><%= number_to_currency valorizacione.actual_valorizacion_actual, unit: '' %></td>
    <td style="text-align:right;"><%= valorizacione.actual_neto_pagar %></td>
    <td style="text-align:center;">
      <span class="label label-success">
        <%= valorizacione.fecha_inicial.to_time.strftime("%d %b") %> - <%= valorizacione.fecha_fin.to_time.strftime("%d %b") %>
      </span>
    </td>
    <td>
      <% if valorizacione.valorizacione_aprobado == 1 %>
        <span class="label label-success">
          Aprobado
        </span>
      <% else %>
        <span class="label label-warning">
          No Aprobado
        </span>
      <% end %>    
    </td>    
    <td>
      <%= link_to raw("<i class='icon-eye-open icon-white'></i>"), valorizacione, :class => 'btn btn-info' %>      
        <% #if valorizacione.valorizacione_aprobado == 1 %>          
        <% #else %>
          <%= link_to raw("<i class='icon-trash icon-white'></i>"), valorizacione, method: :delete, data: { confirm: 'Esta Seguro que desea Eliminar?' }, :class => 'btn btn-warning' %>
        <% #end %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />


