<%= form_for(@tareosfila) do |f| %>
  <% if @tareosfila.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tareosfila.errors.count, "error") %> prohibited this tareosfila from being saved:</h2>

      <ul>
      <% @tareosfila.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tareoscolumna_id %><br />
    <%= f.number_field :tareoscolumna_id %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
