<p id="notice"><%= notice %></p>

<p>
  <b>Tareoscolumna:</b>
  <%= @tareosfila.tareoscolumna_id %>
</p>

<p>
  <b>Item:</b>
  <%= @tareosfila.item %>
</p>


<%= link_to 'Edit', edit_tareosfila_path(@tareosfila) %> |
<%= link_to 'Back', tareosfilas_path %>
