<h1>Listing tareoscolumnas</h1>

<table>
  <tr>
    <th>Tareosgruposdetrabajo</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tareoscolumnas.each do |tareoscolumna| %>
  <tr>
    <td><%= tareoscolumna.tareosgruposdetrabajo_id %></td>
    <td><%= tareoscolumna.item %></td>
    <td><%= link_to 'Show', tareoscolumna %></td>
    <td><%= link_to 'Edit', edit_tareoscolumna_path(tareoscolumna) %></td>
    <td><%= link_to 'Destroy', tareoscolumna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tareoscolumna', new_tareoscolumna_path %>
