<div class="row">
    <div class="span6">
        <h2>Maestros de Obra</h2>
    </div>
    <div class="span6">
        <br>
        <%= link_to raw('Nuevo <i class="icon-plus icon-white"></i>'), new_maestrodeobra_path, :class => "btn btn-primary pull-right" %> 
    </div>
</div>
<br>

<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>#id</th>    
    <th>Nombre</th>
    <th>Movil</th>
    <th>Telefono</th>
    <th>Nacimiento</th>
    <th>Correo</th>
    <th>Foto</th>
    <th>Ruc</th>
    <th>Banco 1</th>
    <th>Acciones</th>
  </tr>

<% @maestrodeobras.each do |maestrodeobra| %>
  <tr>
    <td><%= maestrodeobra.id %></td>
    <td>
        <%= maestrodeobra.ente.nombre %> 
        <%= maestrodeobra.ente.apellido %> 
        <%= maestrodeobra.ente.razon_social %> 
    </td>
    <td><%= maestrodeobra.movil %></td>
    <td><%= maestrodeobra.telefono %></td>
    <td><%= maestrodeobra.nacimiento %></td>
    <td><%= maestrodeobra.correo %></td>
    <td><%= maestrodeobra.foto %></td>
    <td><%= maestrodeobra.ruc %></td>
    <td><%= maestrodeobra.banco_1 %></td>
    <td>
        <%= link_to raw('<i class="icon-eye-open icon-white"></i>'), maestrodeobra, :class => "btn btn-small btn-info" %>
        <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_maestrodeobra_path(maestrodeobra), :class => "btn btn-small btn-success" %>
        <%= link_to raw('<i class="icon-trash icon-white"></i>'), maestrodeobra, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

