<p id="notice"><%= notice %></p>
<div class="page-header">
	<h2>Detalle Parte de Equipo</h2>
</div>
<div class="row">
<table class="table table-striped table-bordered table-condensed span12">
	<tr>		
		<td class="span3"><b>Horometro</b></td>
		<td class="span6"><%= @partedeequipo.inicio %> - <%= @partedeequipo.fin %> = <%= @partedeequipo.diferencia %></td>
		<td><b>Fecha</b></td>
		<td><%= @partedeequipo.fecha.to_date.strftime("%d-%m-%y") %></td>
	</tr>
	<tr>
		<td><b>Numero Parte</b></td>
		<td><%= @partedeequipo.numero %></td>
		<td><b>Combustible Tipo</b></td>
		<td><%= @partedeequipo.combustibletipo.tipo %> <%= @partedeequipo.combustibletipo.combustible %></td>
	</tr>
	<tr>
		<td><b>Subcontrato de Equipo</b></td>
		<td>
			<%= @partedeequipo.subcontratodeequipo.proveedore.ente.nombre %>
			<%= @partedeequipo.subcontratodeequipo.proveedore.ente.apellido %>
			<%= @partedeequipo.subcontratodeequipo.proveedore.ente.razon_social %>
		</td>
		<td><b>Combustible Cantidad</b></td>
		<td><%= @partedeequipo.combustible_cantidad %></td>
	</tr>
	<tr>
		<td><b>Equipo de Subcontrato</b></td>
		<td>
			<%= @partedeequipo.equiposdesubcontrato.codigo %> <%= @partedeequipo.equiposdesubcontrato.insumodeequipo.nombre %> 
		</td>
		<td><b>Mantenimiento</b></td>
		<td><%= @partedeequipo.mantenimiento %></td>
	</tr>
	<tr>
		<td><b>Operador</b></td>
		<td>
			<%= @partedeequipo.catalogodetrabajadore.ente.nombre %> 
			<%= @partedeequipo.catalogodetrabajadore.ente.apellido %> 
			<%= @partedeequipo.catalogodetrabajadore.ente.razon_social %>
		</td>
		<td><b>H. Stand By</b></td>
		<td><%= @partedeequipo.stand_by %></td>
	</tr>
	<tr>
		<td><b>Unidad</b></td>
		<td><%= @partedeequipo.equiposdesubcontrato.unidade.nombre %></td>
		<td colspan="2"></td>
	</tr>
</table>
</div>
<div class="clearfix"></div>

<legend>Equipos Registrados</legend>
<table class="table table-striped table-bordered table-condensed table-hover">
	<tr>
		<th>#id</th>		
		<th>Grupo de Trabajo</th>
		<th>WBS Nivel 2</th>
		<th>Frente</th>		
		<th>Partida Control</th>
		<th>Cantidad</th>
	</tr>	
	<% @partedeequipo.equiposregistrados.each do |equiposregistrado| %>
		<tr style="font-size: 12px;">
			<td><%= equiposregistrado.id %></td>
			<td>
				<%= equiposregistrado.gruposdetrabajo.maestrodeobra.ente.nombre %>
				<%= equiposregistrado.gruposdetrabajo.maestrodeobra.ente.apellido %>
				<%= equiposregistrado.gruposdetrabajo.maestrodeobra.ente.razon_social %> - 

				<%= equiposregistrado.gruposdetrabajo.subcontrato.proveedore.ente.nombre %>
				<%= equiposregistrado.gruposdetrabajo.subcontrato.proveedore.ente.apellido %>
				<%= equiposregistrado.gruposdetrabajo.subcontrato.proveedore.ente.razon_social %>

			</td>
			<td><%= equiposregistrado.gruposdetrabajo.subsectore.descripcion %></td>
			<td><%= equiposregistrado.frente.nombre %></td>
			<td><%= equiposregistrado.partidasdecontrol.subfase.descripcion %></td>
			<td><%= equiposregistrado.cantidad %></td>
		</tr>
	<% end  %>
</table>

<div class="form-actions">	
	<%= link_to raw("<i class='icon-arrow-left icon-white'></i> Regresar"), partedeequipos_path, :class => 'btn btn-primary' %>	
</div>

