<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Detalle Proveedor</h1>
</div>

<div class="row">
  

<table class="table table-striped table-bordered table-condensed span6">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>  
  <tr>
    <td>#id</td>
    <td><%= @proveedore.id %></td>
  </tr>
  <tr>
    <td>Subcontratista</td>
    <td>
      <%= @proveedore.ente.nombre %> 
      <%= @proveedore.ente.apellido %>
      <%= @proveedore.ente.razon_social %>
    </td>
  </tr>
  <tr>
    <td>Direccion</td>
    <td><%= @proveedore.direccion %></td>
  </tr>
  <tr>
    <td>Telefono</td>
    <td><%= @proveedore.telefono %></td>
  </tr>
  <tr>
    <td>Movil</td>
    <td><%= @proveedore.movil_1 %></td>
  </tr>
  <tr>
    <td>Movil</td>
    <td><%= @proveedore.movil_2 %></td>
  </tr>
  <tr>
    <td>Cuenta Corriente 1</td>
    <td><%= @proveedore.cuenta_corriente_1 %></td>
  </tr>
  <tr>
    <td>Cuenta Corriente 2</td>
    <td><%= @proveedore.cuenta_corriente_2 %></td>
  </tr>
  <tr>
    <td>Cuenta Corriente 3</td>
    <td><%= @proveedore.cuenta_corriente_3 %></td>
  </tr>
  <tr>
    <td>Cuenta de Detraccion</td>
    <td><%= @proveedore.cuenta_de_detraccion %></td>
  </tr>
  <tr>
    <td>Contacto</td>
    <td><%= @proveedore.contacto %></td>
  </tr>
  <tr>
    <td>Cci 1</td>
    <td><%= @proveedore.cci_1 %></td>
  </tr>
  <tr>
    <td>Cci 2</td>
    <td><%= @proveedore.cci_2 %></td>
  </tr>
  <tr>
    <td>Cci 3</td>
    <td><%= @proveedore.cci_3 %></td>
  </tr>
  <tr>
    <td>Banco 1</td>
    <td><%= @proveedore.banco_1 %></td>
  </tr>
  <tr>
    <td>Banco 2</td>
    <td><%= @proveedore.banco_2 %></td>
  </tr>
  <tr>
    <td>Banco 3</td>
    <td><%= @proveedore.banco_3 %></td>
  </tr>
</table>
</div>

<div class="form-actions">
  <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_proveedore_path(@proveedore), :class => "btn btn-success" %>
  <%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), proveedores_path, :class => "btn btn-primary" %>  
</div>

