<%= form_for(@lista, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @lista.errors.any? %>
    <div id="error_explanation" class="well">
      <h3><%= pluralize(@lista.errors.count, "errores") %> Cometidos</h3>

      <ul>
      <% @lista.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <div class="control-label">    
      <%= f.label :Tipo %>
    </div>    
    <div class="controls">
            <%= f.select :listacategoria_id, Listacategoria.all.collect { |x| ["#{x.codigo} #{x.nombre}", x.id] }, {:include_blank => "Seleccion Categoria"}, :class => "span3" %>  
    </div>

  </div>
    <div class="control-group">
    <div class="control-label">
      <%= f.label :unidad %>
    </div>
    <div class="controls">
      <%= f.select :unidade_id, Unidade.all.collect{|x| [x.nombre, x.id]} %>
    </div>
  </div>


  <div class="control-group">
    <div class="control-label">
      <%= f.label :nombre %>  
    </div>
    <div class="controls">
      <%= f.text_field :nombre, :class => "span6", :placeholder => "Nombre de la Partida" %>  
    </div>    
  </div>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :precio_unitario %>  
    </div>
    <div class="controls">
      <%= f.text_field :precio_unitario, :class => "span6", :placeholder => "12.45", :class => 'input-mini' %>  
    </div>    
  </div>

  <div class='control-group'>
    <div class='control-label'>
      <%= f.label :codigo %>
    </div>
    <div class='controls'>
      <%= f.text_field :codigo, class: 'input-medium' %>
    </div>
  </div>



  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn btn-success" %>  
    </div>    
  </div>
<% end %>


<script type="text/javascript">
    $('form').validate({
        rules: {
            'lista[listacategoria_id]': {
                required: true             
            },
            'lista[unidad]': {
                required: true,
            },
            'lista[nombre]': {
                required: true,                
                minlength: 4,
            },
            'ente[razon_social]': {
                required: false,
                minlength: 4,
                maxlength: 30,
                letras_numeros_spacio: true,
            },
            'ente[ruc]': {
                required: false,
                numero: true,
                minlength: 11,
                maxlength: 11,
            }
        }, messages: {
          'ente[nombre]': {
            required: "Este Campo es Requerido",
            minlength: jQuery.format("Minimo {0} caracteres.!"),
          },

    },
        highlight: function(element) {
            $(element).closest('.control-group').removeClass('success').addClass('error');            
        },success: function (element) {
            $(element).closest('.control-group').addClass('success');               
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

</script>