<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @maquinariaequipodetalle.numero %>
</p>

<p>
  <b>Parte:</b>
  <%= @maquinariaequipodetalle.parte %>
</p>

<p>
  <b>Fecha:</b>
  <%= @maquinariaequipodetalle.fecha %>
</p>

<p>
  <b>Horometro inicio:</b>
  <%= @maquinariaequipodetalle.horometro_inicio %>
</p>

<p>
  <b>Horometro fin:</b>
  <%= @maquinariaequipodetalle.horometro_fin %>
</p>

<p>
  <b>Horometro horas:</b>
  <%= @maquinariaequipodetalle.horometro_horas %>
</p>

<p>
  <b>Horas efectivas:</b>
  <%= @maquinariaequipodetalle.horas_efectivas %>
</p>

<p>
  <b>Suministro:</b>
  <%= @maquinariaequipodetalle.suministro %>
</p>

<p>
  <b>Combustible:</b>
  <%= @maquinariaequipodetalle.combustible %>
</p>

<p>
  <b>Maquinariaequipo:</b>
  <%= @maquinariaequipodetalle.maquinariaequipo_id %>
</p>


<%= link_to 'Edit', edit_maquinariaequipodetalle_path(@maquinariaequipodetalle) %> |
<%= link_to 'Back', maquinariaequipodetalles_path %>
