<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @maquinariaequiporesumene.numero %>
</p>

<p>
  <b>Equipo:</b>
  <%= @maquinariaequiporesumene.equipo %>
</p>

<p>
  <b>Fecha:</b>
  <%= @maquinariaequiporesumene.fecha %>
</p>

<p>
  <b>Horometro horas:</b>
  <%= @maquinariaequiporesumene.horometro_horas %>
</p>

<p>
  <b>Horas efectivas:</b>
  <%= @maquinariaequiporesumene.horas_efectivas %>
</p>

<p>
  <b>Combustible:</b>
  <%= @maquinariaequiporesumene.combustible %>
</p>

<p>
  <b>Maquinariaequipo:</b>
  <%= @maquinariaequiporesumene.maquinariaequipo_id %>
</p>


<%= link_to 'Edit', edit_maquinariaequiporesumene_path(@maquinariaequiporesumene) %> |
<%= link_to 'Back', maquinariaequiporesumenes_path %>
