<div class="row">
    <div class="span4">
        <h2>Insumo de Equipos</h2>
    </div>
    <div class="span4">
        <br>
        <%= link_to raw("Nuevo <i class='icon-plus icon-white'></i>"), new_insumodeequipo_path, :class => 'btn btn-primary pull-right' %>
    </div>
</div>
<br>

<div class="row">
<table class="table table-striped table-bordered table-condensed table-hover span8">
  <tr>
    <th>#id</th>
    <th>Codigo tobi</th>
    <th>Nombre</th>
    <th>Unidade</th>
    <th>Acciones</th>
  </tr>

<% @insumodeequipos.each do |insumodeequipo| %>
  <tr style="font-size:12px;">
    <td><%= insumodeequipo.id %></td>
    <td><%= insumodeequipo.codigo_tobi %></td>
    <td><%= insumodeequipo.nombre %></td>
    <td><%= insumodeequipo.unidade.nombre %></td>
    <td>
        <%= link_to raw("<i class='icon-eye-open icon-white'></i>"), insumodeequipo, :class => 'btn btn-small btn-info' %>
        <%= link_to raw("<i class='icon-edit icon-white'></i>"), edit_insumodeequipo_path(insumodeequipo), :class => 'btn btn-small btn-success' %>
        <%= link_to raw("<i class='icon-trash icon-white'></i>"), insumodeequipo, method: :delete, data: { confirm: 'Esta Seguro que desea Eliminar?' }, :class => 'btn btn-small btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />
