<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>Detalle Insumo de Equipo</h2>
</div>

<div class="row">
<table class="table table-striped table-bordered table-condensed table-hover span6">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    <td>#id</td>
    <td><%= @insumodeequipo.id %></td>
  </tr>
  <tr>
    <td>Codigo Tobbi</td>
    <td><%= @insumodeequipo.codigo_tobi %></td>
  </tr>
  <tr>
    <td>Nombre</td>
    <td><%= @insumodeequipo.nombre %></td>
  </tr>
  <tr>
    <td>Unidad</td>
    <td><%= @insumodeequipo.unidade.nombre %></td>
  </tr>
  <tr>
    <td>Creado</td>
    <td><%= @insumodeequipo.created_at %></td>
  </tr>
</table>
</div>
<div class="clearfix"></div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-edit icon-white'></i> Editar"), edit_insumodeequipo_path(@insumodeequipo), :class => 'btn btn-success' %>
  <%= link_to raw("<i class='icon-arrow-left icon-white'></i> Regresar"), insumodeequipos_path, :class => 'btn btn-primary' %>  
</div>

