<%= form_for(@listacategoria, :html => {:class => "form-horizontal"}) do |f| %>

  <% if @listacategoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listacategoria.errors.count, "error") %> prohibited this listacategoria from being saved:</h2>

      <ul>
      <% @listacategoria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="control-label">
        <%= f.label :codigo %>
      </div>
      <div class="controls">
        <%= f.text_field :codigo %>
      </div>
    </div>
  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="control-label">
        <%= f.label :nombre %>
      </div>
      <div class="controls">
        <%= f.text_field :nombre %>
      </div>
    </div>
  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>

<% end %>


<script type="text/javascript">
    $('form').validate({
        rules: {
            'listacategoria[codigo]': {
                required: true, 
                numero_punto: true               
            },
            'listacategoria[nombre]': {
                required: true,
                letras_espacio: true,
                minlength: 4,
                maxlength: 40
            }
        }, messages: {
          'ente[nombre]': {
            required: "Este Campo es Requerido",
            minlength: jQuery.format("Minimo {0} caracteres.!"),
          }
    },
        highlight: function(element) {
            $(element).closest('.control-group').removeClass('success').addClass('error');            
        },success: function (element) {
            $(element).closest('.control-group').addClass('success');               
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

</script>