<%= form_for(@jefedefrente, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @jefedefrente.errors.any? %>
    <div id="error_explanation" class="well">
      <h2><%= pluralize(@jefedefrente.errors.count, "errores") %> cometidos</h2>

      <ul>
      <% @jefedefrente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="control-label">
        <%= f.label :ente_id %>
      </div>
      <div class="controls">
        <%= f.select :ente_id, Ente.all.collect {|x| ["#{x.nombre} #{x.apellido} #{x.razon_social}", x.id ]}, {:include_blank => "Seleccione Ente"} %>
      </div>
    </div>

  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="control-label">
        <%= f.label :telefono %>
      </div>
      <div class="controls">
        <%= f.text_field :telefono, :placeholder => "123456", :class => "span2" %>
      </div>
    </div>


    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :movil_1 %>
        </div>
        <div class="controls">
          <%= f.text_field :movil_1, :placeholder => "12345678", :class => "span2" %>
        </div>
      </div>

    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :movil_2 %>
        </div>
        <div class="controls">
          <%= f.text_field :movil_2, :placeholder => "12345678", :class => "span2" %>
        </div>
      </div>

    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :estado_civil %>
        </div>
        <div class="controls">
          <%= f.select :estado, [
                                  ['Soltero'],
                                  ['Casado'],
                                  ['Divorciado'],
                                  ['Conviviente']
                                ], :include_blank => "Estado Civil" 
          %>
        </div>
      </div>


    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :correo %>
        </div>
        <div class="controls">
          <%= f.text_field :mail, :placeholder => "anonimous@hotmail.com" %>
        </div>
      </div>

    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :direccion_1 %>
        </div>
        <div class="controls">
          <%= f.text_field :direccion_1, :placeholder => "las palomas #234", :class => "span3" %>
        </div>
      </div>
    
    <!-- Control Group 
      ==============================================================================  -->
      <div class="control-group">
        <div class="control-label">
          <%= f.label :direccion_2 %>
        </div>
        <div class="controls">
          <%= f.text_field :direccion_2, :placeholder => "las palomas #234", :class => "span3" %>
        </div>
      </div>

  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="control-label">
        <%= f.label :descripcion %>
      </div>
      <div class="controls">
        <%= f.text_field :descripcion, :placeholder => "ejem: trabajador muy detallista", :class => "span4" %>
      </div>
    </div>


  <!-- Control Group 
    ==============================================================================  -->
    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => "btn btn-success" %>
      </div>
    </div>
<% end %>
