<div class="page-header">
	<h1><%= link_to "Tareo", tareos_path %>  <small>Semanal</small></h1>
</div>

<div class="row">
	<div class="span12">
		<%= form_tag('tareo_semanal',{:method => :post, :class => 'form-inline well'}) do %>			
			<%= text_field_tag :inicio, nil, :placeholder => 'fecha inicio', :value => !@inicio.nil? ? @inicio : '', :class => 'input-small' %>
			<%= text_field_tag :fin, nil, :placeholder => 'fecha fin', :value => !@fin.nil? ? @fin : '', :class => 'input-small' %>
			<%= button_tag(type: "submit", class: "btn btn-primary") do %>
		    	<i class="icon-search icon-white"></i> Buscar
			<% end %>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
  $('#inicio').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true
  });
    $('#fin').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true
  });
</script>

<% if @pase.nil? %>
	<h4>Esperando Datos..</h4>
<% elsif @pase == 0  %>
	<h4>Esperando Datos..</h4>
<% elsif @pase == 1 %>	
		<h5>
			<%= @subcontratista_nombre %>	
		</h5>		
		<table class="table table-bordered table-condensed table-hover">
			<tr class="well">
				<th style="text-align: right;" class="span1">Item</th>
				<th class="span4">Apellidos y Nombres</th>
				<th style="text-align: right;">Categoria</th>
				<% @dias_habiles.each do |dias| %>
					<th style="text-align: right;"><%= dias.to_time.strftime("%d/%m/%y") %></th>
				<% end %>				
				<th style="text-align: right;">T. Normales</th>
				<th style="text-align: right;">T. 60%</th>
				<th style="text-align: right;">T. 100%</th>
				<th style="text-align: right;">Total Horas</th>
			</tr>
			<% item = 1 %>
			<% sumariza_total_normales= 0 %>
			<% sumariza_total_60 = 0 %>
			<% sumariza_total_100 = 0 %>
			<% sumariza_total_horas = 0 %>
			<% array_suma = Array.new(@dias_habiles.length, 0.00) %>			
			<% @trabajadores_array.each do |trabajador| %>
				<tr>
					<td style="text-align: right;"><%= item %></td>
					<td><%= trabajador[1] %></td>
					<td style="text-align: right;"><%= trabajador[2] %></td>
					<% indice = 0 %>
					<% trabajador[3].each do |dias| %>
						<td style="text-align: right;">
							<%= dias.to_f == 0 ? ' -- ' : (number_to_currency dias.to_f, unit: '') %>
						</td>
						<% array_suma[indice] += dias.to_f %>
						<% indice += 1 %>
					<% end %>					
					<td style="text-align: right;"><%= number_to_currency trabajador[5], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency trabajador[6], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency trabajador[7], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency  trabajador[4], unit:'' %></td>
				</tr>
				<% item += 1 %>
				<% sumariza_total_normales += trabajador[5] %>
				<% sumariza_total_60 += trabajador[6] %>
				<% sumariza_total_100 += trabajador[7] %>
				<% sumariza_total_horas += trabajador[4] %>
			<% end %>
			<tr class="well">
				<td></td>
				<td colspan="2">
					<b>Total</b>
				</td>				
				<% array_suma.each do |arraysum| %>
					<td style="text-align: right;">
						<b><%= arraysum.to_f == 0 ? ' -- ' : (number_to_currency arraysum.to_f, unit: '') %></b>
					</td>
				<% end %>				
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_normales, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_60, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_100, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_horas, unit: '' %></b>					
				</td>
			</tr>
		</table>
					
<% elsif @pase == 4 %>

	<% indice_title = 0 %>
	<% @tareos_total_arrays.each do |trabajadores_array| %>
		<h5><%=  @subcontratista_arrays[indice_title] %></h5>
		
		<% indice_title += 1 %>
		<table class="table table-bordered table-condensed table-hover">
			<tr class="well">
				<th style="text-align: right;" class="span1">Item</th>
				<th class="span4">Apellidos y Nombres</th>
				<th style="text-align: right;">Categoria</th>
				<% @dias_habiles.each do |dias| %>
					<th style="text-align: right;"><%= dias.to_time.strftime("%d/%m/%y") %></th>
				<% end %>
				<th style="text-align: right;">T. Normales</th>
				<th style="text-align: right;">T. 60%</th>
				<th style="text-align: right;">T. 100%</th>
				<th style="text-align: right;">Total Horas</th>
			</tr>
			<% item = 1 %>
			<% sumariza_total_normales= 0 %>
			<% sumariza_total_60 = 0 %>
			<% sumariza_total_100 = 0 %>
			<% sumariza_total_horas = 0 %>
			<% array_suma = Array.new(@dias_habiles.length, 0.00) %>
			<% trabajadores_array.each do |trabajador| %>
				<tr>
					<td style="text-align: right;"><%= item %></td>
					<td><%= trabajador[1] %></td>
					<td style="text-align: right;"><%= trabajador[2] %></td>					
					<% indice = 0 %>	
					<% trabajador[3].each do |dias| %>
						<td style="text-align: right;">
							<%= dias.to_f == 0 ? ' -- ' : (number_to_currency dias.to_f, unit: '') %>								
						</td>
						<% array_suma[indice] += dias.to_f %>
						<% indice += 1 %>
					<% end %>
					<td style="text-align: right;"><%= number_to_currency trabajador[5], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency trabajador[6], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency trabajador[7], unit: '' %></td>
					<td style="text-align: right;"><%= number_to_currency  trabajador[4], unit:'' %></td>
				</tr>
				<% item += 1 %>
				<% sumariza_total_normales += trabajador[5] %>
				<% sumariza_total_60 += trabajador[6] %>
				<% sumariza_total_100 += trabajador[7] %>
				<% sumariza_total_horas += trabajador[4] %>				
			<% end %>
			<tr class="well">
				<td></td>
				<td colspan="2">
					<b>Total</b>
				</td>
				<% array_suma.each do |arraysum| %>
					<td style="text-align: right;">
						<b><%= arraysum.to_f == 0 ? ' -- ' : (number_to_currency arraysum.to_f, unit: '') %></b>
					</td>
				<% end %>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_normales, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_60, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_100, unit: '' %></b>
				</td>
				<td style="text-align: right;">
					<b><%= number_to_currency sumariza_total_horas, unit: '' %></b>					
				</td>
			</tr>
		</table>
		

	<% end %>
	<%= form_tag('tareo_guardar',{:method => :post, :style => 'margin: 0; padding: 0; display:inline;'}) do %>
			<%= hidden_field_tag 'tareo[inicio]', "#{params[:inicio]}" %>
			<%= hidden_field_tag 'tareo[fin]', "#{params[:fin]}" %>
        <% i = 0 %>
        <% @tareos_total_arrays.each do |trabajadores_array| %>
           	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][nombre]", "#{@subcontratista_arrays[i]}" %>
           	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][0][item]", "item" %>
            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][1][item]", "Apellidos y Nombres" %>
            <% h = 1 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][0][tareosfilas_attributes][#{h}][item]", "#{h}" %>
        		<% h += 1 %>
    		<% end %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][1][tareosfilas_attributes][#{h}][item]", "#{trabajador[1]}" %>
        		<% h += 1 %>
    		<% end %>
            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][2][item]", "Categoria" %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][2][tareosfilas_attributes][#{h}][item]", "#{trabajador[2]}" %>
        		<% h += 1 %>
    		<% end %>
            <% j = 3 %>
            <% total_dias = @dias_habiles.count - 1 %>
	    	<% z = 0 %>
	    	<% @dias_habiles.each do |dias| %>
	    	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j}][item]", "#{dias.to_time.strftime("%d/%m/%y")}" %>
	    			<% h = 0 %>
		    		<% trabajadores_array.each do |trabajador| %>
		    <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j}][tareosfilas_attributes][#{h}][item]", "#{trabajador[3][z]}" %>
		    			<% h += 1 %>
		    		<% end %>
		    	<% z += 1 %>
		    	<% j += 1 %>  		
	    	<% end %>
            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+1}][item]", "T. Normales" %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+1}][tareosfilas_attributes][#{h}][item]", "#{trabajador[5]}" %>
        		<% h += 1 %>
    		<% end %>

            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+2}][item]", "T. 60%" %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+2}][tareosfilas_attributes][#{h}][item]", "#{trabajador[6]}" %>
        		<% h += 1 %>
    		<% end %>

            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+3}][item]", "T. 100%" %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+3}][tareosfilas_attributes][#{h}][item]", "#{trabajador[7]}" %>
        		<% h += 1 %>
    		<% end %>

            <%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+4}][item]", "Total Horas" %>
            <% h = 0 %>
            <% trabajadores_array.each do |trabajador| %>        		
        	<%= hidden_field_tag "tareo[tareosgruposdetrabajos_attributes][#{i}][tareoscolumnas_attributes][#{j+4}][tareosfilas_attributes][#{h}][item]", "#{trabajador[4]}" %>
        		<% h += 1 %>
    		<% end %>
            <% i += 1 %>
        <% end %>




		<%= button_tag(type: "submit", class: "btn btn-success") do %>
	  		<i class="icon-download icon-white"></i> Guardar Tareo 
		<% end %>
	<% end %>
<% elsif @pase == 2 %>
	<h4>No existen Registros para esos Datos.</h4>
<% elsif @pase == 3	 %>
	<h4>Error Ingresando Datos...</h4>
<% end %>
<br><br>



