<p id="notice"><%= notice %></p>

<div class="page-header">
	<h2>Detalle WBS Nivel 1</h2>
</div>

<div class="row">
	

<table class="table table-striped table-bordered table-condensed span5">
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
	<tr>
		<td>#id</td>
		<td><%= @sectore.id %></td>
	</tr>
	<tr>
		<td>Codigo</td>
		<td><%= @sectore.codigo %></td>
	</tr>
	<tr>
		<td>Descripcion</td>
		<td><%= @sectore.descripcion %></td>
	</tr>
</table>
</div>
<div class="clearfix"></div>
<div class="form-actions">
	<%= link_to raw('<i class="icon-edit icon-white"></i> Editar'), edit_sectore_path(@sectore), :class => "btn btn-success" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), sectores_path, :class => "btn btn-primary" %>	
</div>

