<% 
    15.times do 
      @parteobra.partidas.build      
    end
 %>

  <%= form_for(@parteobra, :html => {:class => 'form-horizontal'}) do |f| %>

  <!-- Seccion Errores -->
    <% if @parteobra.errors.any? %>
      <div class="well">
        <h4><%= pluralize(@parteobra.errors.count, "Errores") %> cometidos</h4>
        <ol>
          <% @parteobra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ol>
        </div>
    <% end %>
    
  
  <!-- Formulario parte obras Principal -->
  <div class="well">
    <div>
    <% if params[:action] == 'new' %>
      <%= f.text_field :numero, :placeholder => "001", value: @parteobra_numero.to_s.rjust(4, '0'), :class => "span1" %>
    <% else %>
      <%= f.text_field :numero, :placeholder => "001", :class => "span1" %>
    <% end %>
      <%= f.select :gruposdetrabajo_id, Gruposdetrabajo.where("activo = ?", 'Si').collect {|x| [ "#{x.id} - #{x.jefedefrente.ente.nombre} #{x.jefedefrente.ente.apellido} #{x.jefedefrente.ente.razon_social} - #{x.subcontrato.proveedore.ente.nombre} #{x.subcontrato.proveedore.ente.apellido} #{x.subcontrato.proveedore.ente.razon_social} - #{x.maestrodeobra.ente.nombre} #{x.maestrodeobra.ente.apellido} #{x.maestrodeobra.ente.razon_social}", x.id]}, {:include_blank => 'SECTOR - SUBSECTOR - JEFEDEFRENTE - SUBCONTRATISTA - MAESTRODEOBRA'}, {:style => 'font-size: 11px;', :class => "span7"}%>
      <%= f.select :frente_id, Frente.all.collect{|x| [x.nombre, x.id]}, include_blank: 'Seleccione' %>             
      <%= f.text_field :fecha, :class => "input-small", :placeholder => '2013-09-11' %>      
    </div>
  </div>
  <!-- End Formulario Principal -->    


  <div class="row">
    <div class="span6">
      <h3>Registro de <%= link_to "Partidas", partidas_path %> <%= image_tag('glyphicons_409_sort-by-attributes-alt.png', height: '20', width: '20') %></h3>  
    </div>
    <div class="span6">
      <br>
      <%= f.submit :class => 'btn pull-right' %>       
    </div>
  </div>

  
  <% i = 1 %>  
    <%= f.fields_for :partidas do |fp| %> 
      <div class="controls-row" style="display: inline;">
        <%= fp.grouped_collection_select(:lista_id, Listacategoria.all, :listas, :nombre, :id, :nombre, { :include_blank => "#{"%02d" % i}.- Seleccione Partida"}, {:class => "span4"}) %>
        <%= fp.select :unidade_id, Unidade.all.collect { |x| [x.nombre, x.id] }, {:include_blank => 'unidad'}, { :class => 'span2' } %>
        <%= fp.text_field :metrado, :class => "span2", :placeholder => "Metrado" %>
        <%= fp.text_field :observacion, :class => "span4", :placeholder => "Observacion" %>
        <% i += 1 %>  
      </div>     
    <% end %>      

    <br>
  <%= f.submit :class => 'btn' %> 
         


<% end %>

<script type="text/javascript">
  $('#parteobra_fecha').datepicker({
      format: 'yyyy-mm-dd',
      language: 'es',
      autoclose: true      
  });
</script>