<h1>Listing maquinariaequipos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Reportedemaquinaria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maquinariaequipos.each do |maquinariaequipo| %>
  <tr>
    <td><%= maquinariaequipo.nombre %></td>
    <td><%= maquinariaequipo.reportedemaquinaria_id %></td>
    <td><%= link_to 'Show', maquinariaequipo %></td>
    <td><%= link_to 'Edit', edit_maquinariaequipo_path(maquinariaequipo) %></td>
    <td><%= link_to 'Destroy', maquinariaequipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maquinariaequipo', new_maquinariaequipo_path %>
