<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>
    Equipo: 
    <%= @equiposdesubcontrato.codigo %>    
    <small>
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.nombre %> 
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.apellido %> 
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.razon_social %> 
    </small>
  </h2>
</div>

<div class="row">

<table class="table table-bordered table-condensed table-striped span7">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
  </tr>
  <tr>
    <td>#id</td>
    <td><%= @equiposdesubcontrato.id %></td>
  </tr>
  <tr>
    <td>Sub Contrato de Equipo</td>
    <td>
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.nombre %>
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.apellido %>
      <%= @equiposdesubcontrato.subcontratodeequipo.proveedore.ente.razon_social %>
    </td>
  </tr>
  <tr>
    <td>Codigo</td>
    <td><%= @equiposdesubcontrato.codigo %></td>
  </tr>
  <tr>
    <td>Descripcion</td>
    <td><%= @equiposdesubcontrato.descripcion %></td>
  </tr>
  <tr>
    <td>Insumos10</td>
    <td><%= @equiposdesubcontrato.insumodeequipo.nombre %></td>
  </tr>
  <tr>
    <td>Marca</td>
    <td><%= @equiposdesubcontrato.marca %></td>
  </tr>
  <tr>
    <td>Serie</td>
    <td><%= @equiposdesubcontrato.serie %></td>
  </tr>
  <tr>
    <td>Modelo</td>
    <td><%= @equiposdesubcontrato.modelo %></td>
  </tr>
  <tr>
    <td>Año</td>
    <td><%= @equiposdesubcontrato.anho %></td>
  </tr>
  <tr>
    <td>Unidad</td>
    <td><%= @equiposdesubcontrato.unidade.nombre %></td>
  </tr>
  <tr>
    <td>Precio sin IGV</td>
    <td><%= @equiposdesubcontrato.precion_sin_igv %></td>
  </tr>
  <tr>
    <td>Equipo Incluye</td>
    <td><%= @equiposdesubcontrato.equipoincluye.nombre %></td>
  </tr>
  <tr>
    <td>Horas Minimas</td>
    <td><%= @equiposdesubcontrato.horas_minimas %></td>
  </tr>
  <tr>
    <td>Cantidad de Horas Minimas</td>
    <td><%= @equiposdesubcontrato.cantidad_h_m %></td>
  </tr>
  <tr>
    <td>Fecha</td>
    <td><%= @equiposdesubcontrato.fecha %></td>
  </tr>
</table>

</div>

<div class="form-actions">
  <%= link_to raw('<i class="icon-edit icon-white"></i> Editar'), edit_equiposdesubcontrato_path(@equiposdesubcontrato), :class => 'btn btn-success' %>
  <%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), "/subcontratodeequipos/ver_equipos/#{@equiposdesubcontrato.subcontratodeequipo_id}", :class => 'btn btn-primary' %> 
</div>

