<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>Detalle Subcontrato de Equipos</h2>
</div>
<div class="row">
<table class="table table-bordered table-striped table-condensed span6">
  <tr>
    <td style="text-align: right;"><b>Proveedor : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.proveedore.ente.nombre %>
      <%= @subcontratodeequipo.proveedore.ente.apellido %>
      <%= @subcontratodeequipo.proveedore.ente.razon_social %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Valorizacion : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.valorizacion %>
    </td>
  </tr>  
  <tr>
    <td style="text-align: right;"><b>Condiciones de Pago : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.condiciones_de_pago %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Amortizacion Porcentaje : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.amortizacion_inicial_porcentaje.blank? ? (number_to_currency 0, unit: '% '): (number_to_currency @subcontratodeequipo.amortizacion_inicial_porcentaje, unit: '% ') %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Amortizacion Numero : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.amortizacion_inicial_numero.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.amortizacion_inicial_numero, unit: 'S/ ') %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Fondo de Garantia % : </b> </td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.fondo_de_garantia_porcentaje.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.fondo_de_garantia_porcentaje, unit: 'S/ ') %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Detraccion Porcentaje : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.detraccion_porcentaje.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.detraccion_porcentaje, unit: 'S/ ') %>
    </td>
  </tr>
  <tr style="text-align: right;">
    <td style="text-align: right;">
      <b>Igv : </b>      
    </td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.igv.blank? ? (number_to_currency 0, unit: '% '): (number_to_currency @subcontratodeequipo.igv, unit: '% ') %>      
    </td>
  </tr>


  <tr>
    <td style="text-align: right;"><b>Adelanto 1 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_1_numero.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.adelanto_1_numero, unit: 'S/ ') %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Adelanto 2 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_2_numero.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.adelanto_2_numero, unit: 'S/ ') %>      
    </td>
  </tr>  
  <tr>
    <td style="text-align: right;"><b>Adelanto 3 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_3_numero.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.adelanto_3_numero, unit: 'S/ ') %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Adelanto 4 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_4_numero.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.adelanto_4_numero, unit: 'S/ ') %>      
    </td>
  </tr>
    <tr>
    <td style="text-align: right;"><b>Adelanto Fecha 1 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_1_fecha.blank? ? '-- -- --':@subcontratodeequipo.adelanto_1_fecha.strftime("%d %b. %Y") %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Adelanto Fecha 2 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_2_fecha.blank? ? '-- -- --':@subcontratodeequipo.adelanto_2_fecha.strftime("%d %b. %Y") %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Adelanto Fecha 3 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_3_fecha.blank? ? '-- -- --':@subcontratodeequipo.adelanto_3_fecha.strftime("%d %b. %Y") %>      
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Adelanto Fecha 4 : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.adelanto_3_fecha.blank? ? '-- -- --':@subcontratodeequipo.adelanto_3_fecha.strftime("%d %b. %Y") %>         
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><b>Monto : </b></td>
    <td style="text-align: right;">
      <%= @subcontratodeequipo.monto_contratado_suma.blank? ? (number_to_currency 0, unit: 'S/ '): (number_to_currency @subcontratodeequipo.monto_contratado_suma, unit: 'S/ ') %>
    </td>
  </tr>
</table>
</div>
<div class="clearfix"></div>

<h3>Equipos</h3>

<table class="table table-bordered table-striped table-condensed table-hover">
  <tr>
    <th>#id</th>
    <th>Codigo</th>
    <th>Descripcion</th>
    <th>Insumo y TOBY</th>
    <th>Marca</th>
    <th>Serie</th>
    <th>Modelo</th>
    <th>Año</th>
    <th>UND</th>
    <th>Precio sin IGV</th>
    <th>Incluye</th>
    <th>Hrs Min</th>
    <th>Cantidad H.M.</th>
  </tr>
  <% @subcontratodeequipo.equiposdesubcontratos.each do |equiposdesubcontrato| %>
  <tr>
    <td><%= equiposdesubcontrato.id %></td>
    <td><%= equiposdesubcontrato.codigo %></td>
    <td><%= equiposdesubcontrato.descripcion %></td>
    <td><%= equiposdesubcontrato.insumodeequipo.nombre %></td>
    <td><%= equiposdesubcontrato.marca %></td>
    <td><%= equiposdesubcontrato.serie %></td>
    <td><%= equiposdesubcontrato.modelo %></td>
    <td><%= equiposdesubcontrato.anho %></td>
    <td><%= equiposdesubcontrato.unidade.nombre %></td>
    <td><%= equiposdesubcontrato.precion_sin_igv %></td>
    <td><%= equiposdesubcontrato.equipoincluye.nombre %></td>
    <td><%= equiposdesubcontrato.horas_minimas %></td>
    <td><%= equiposdesubcontrato.cantidad_h_m %></td>
  </tr>
  <% end %>
</table>

<div class="form-actions">
  <%= link_to raw('<i class="icon-edit icon-white"></i> Editar'), edit_subcontratodeequipo_path(@subcontratodeequipo), :class => 'btn btn-success' %>
  <%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), subcontratodeequipos_path, :class => 'btn btn-primary' %>  
</div>



