<p id="notice"><%= notice %></p>

<div class="page-header">
	<h2>Detalle WBS Nivel 2</h2>
</div>

<div class="row">
	

<table class="table table-striped table-bordered table-condensed span6">
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
	<tr>
		<td>#id</td>
		<td><%= @subsectore.id %></td>
	</tr>
	<tr>
		<td>Codigo</td>
		<td><%= @subsectore.codigo %></td>
	</tr>
	<tr>
		<td>Descripcion</td>
		<td><%= @subsectore.descripcion %></td>
	</tr>
	<tr>
		<td>Sector</td>
		<td><%= @subsectore.sectore.descripcion %></td>
	</tr>
</table>
</div>
<div class="clearfix"></div>

<div class="form-actions">
	<%= link_to raw('<i class="icon-edit icon-white"></i> Editar'), edit_subsectore_path(@subsectore), :class => "btn btn-success" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), subsectores_path, :class => "btn btn-primary" %>	
</div>

