<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @dia.numero %>
</p>

<p>
  <b>Tipodedia:</b>
  <%= @dia.tipodedia_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @dia.nombre %>
</p>


<%= link_to 'Edit', edit_dia_path(@dia) %> |
<%= link_to 'Back', dias_path %>
