<h1>Listing reportedeequipos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reportedeequipos.each do |reportedeequipo| %>
  <tr>
    <td><%= reportedeequipo.nombre %></td>
    <td><%= link_to 'Show', reportedeequipo %></td>
    <td><%= link_to 'Edit', edit_reportedeequipo_path(reportedeequipo) %></td>
    <td><%= link_to 'Destroy', reportedeequipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reportedeequipo', new_reportedeequipo_path %>
