<p id="notice"><%= notice %></p>

<p>
  <b>Numero parte:</b>
  <%= @vequipoday.numero_parte %>
</p>

<p>
  <b>Fecha:</b>
  <%= @vequipoday.fecha %>
</p>

<p>
  <b>Hora inicio:</b>
  <%= @vequipoday.hora_inicio %>
</p>

<p>
  <b>Hora fin:</b>
  <%= @vequipoday.hora_fin %>
</p>

<p>
  <b>Horas horas:</b>
  <%= @vequipoday.horas_horas %>
</p>

<p>
  <b>Horas efectivas:</b>
  <%= @vequipoday.horas_efectivas %>
</p>

<p>
  <b>Suministro:</b>
  <%= @vequipoday.suministro %>
</p>

<p>
  <b>Combustible:</b>
  <%= @vequipoday.combustible %>
</p>


<%= link_to 'Edit', edit_vequipoday_path(@vequipoday) %> |
<%= link_to 'Back', vequipodays_path %>
