<h1>Listing tareosgruposdetrabajos</h1>

<table>
  <tr>
    <th>Tareo</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tareosgruposdetrabajos.each do |tareosgruposdetrabajo| %>
  <tr>
    <td><%= tareosgruposdetrabajo.tareo_id %></td>
    <td><%= tareosgruposdetrabajo.nombre %></td>
    <td><%= link_to 'Show', tareosgruposdetrabajo %></td>
    <td><%= link_to 'Edit', edit_tareosgruposdetrabajo_path(tareosgruposdetrabajo) %></td>
    <td><%= link_to 'Destroy', tareosgruposdetrabajo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tareosgruposdetrabajo', new_tareosgruposdetrabajo_path %>
