<p id="notice"><%= notice %></p>

<p>
  <b>Tareo:</b>
  <%= @tareosgruposdetrabajo.tareo_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @tareosgruposdetrabajo.nombre %>
</p>


<%= link_to 'Edit', edit_tareosgruposdetrabajo_path(@tareosgruposdetrabajo) %> |
<%= link_to 'Back', tareosgruposdetrabajos_path %>
